## Rider
.idea/

## VSCode
.vscode/

## Build results
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Local History for Visual Studio
.localhistory/

## Docker
.containers/
.env
.env.dev

## HTTPS certs
localhost/certs
*.pfx
*.pem