# Postgres DB
POSTGRES_DB=scannerdb_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5433
POSTGRES_HOST=postgres

# Redis
REDIS_PORT=6380
REDIS_INSTANCE_NAME="domain-scanner-dev"
REDIS_DEFAULT_EXPIRATION_MINUTES=2

# ASP.NET API
API_PORT=8081

# Hangfire Worker
RECURRING_JOB_ID="domain-checks-recurring-dev"
WORKER_CRON_EXPRESSION="*/5 * * * *"
WORKER_QUEUE_NAME=domains-checks-dev
WORKER_BATCH_SIZE=30

# JWT
JWT_SECRETKEY=replace-with-a-secret-at-least-32-bytes-long