# Postgres DB
POSTGRES_DB=scannerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# Redis
REDIS_PORT=6379
REDIS_INSTANCE_NAME="domain-scanner"
REDIS_DEFAULT_EXPIRATION_MINUTES=2

# ASP.NET API
API_PORT=8080
JWT_SECRETKEY=replace-with-a-secret-at-least-32-bytes-long

# Hangfire Worker
RECURRING_JOB_ID="domain-checks-recurring"
WORKER_CRON_EXPRESSION="*/5 * * * *"
WORKER_QUEUE_NAME=domains-checks
WORKER_BATCH_SIZE=30
