# Postgres DB
POSTGRES_DB=scannerdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=postgres-database

# ASP.NET API
API_PORT=8080

# Hangfire Worker
RECURRING_JOB_ID="domain-checks-recurring"
WORKER_CRON_EXPRESSION="*/5 * * * *"
WORKER_QUEUE_NAME=domains-checks
WORKER_BATCH_SIZE=30
